/****************/
/* TEMA DEL APP */
/****************/

// Fuentes
$font-primary: 'Arvo', serif;

// Colores principales
$color1: #0d3690;
$color2: lighten($color1, 30%);

/*************************/
/* OVERRIDE DE BOOTSTRAP */
/*************************/

$brand-primary:             $color1;
/*$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;*/
